In [51]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style

import pandas as pd
import pandas_datareader.data as web
%matplotlib qt

In [52]:
style.use('ggplot')

In [53]:
# start = dt.datetime(2000,1,1)
# end = dt.datetime(2015,12,31)

In [54]:
# df = web.DataReader('TSLA','yahoo',start,end)
# df.to_csv('tsla.csv')

In [55]:
df = pd.read_csv('tsla.csv', parse_dates=True, index_col=0)

In [56]:
# df.head()

In [57]:
# df[['Open', 'High']].head()

In [58]:
# df['Adj Close'].plot(ylabel='Adj Close', figsize=(15,6))

In [59]:
df['100ma'] = df['Adj Close'].rolling(window=100, min_periods=0).mean()

In [60]:
df

,High,Low,Open,Close,Volume,Adj Close,100ma
Date,,,,,,,
2010-06-29,5.000000,3.508000,3.800000,4.778000,93831500,4.778000,4.778000
2010-06-30,6.084000,4.660000,5.158000,4.766000,85935500,4.766000,4.772000
2010-07-01,5.184000,4.054000,5.000000,4.392000,41094000,4.392000,4.645333
2010-07-02,4.620000,3.742000,4.600000,3.840000,25699000,3.840000,4.444000
2010-07-06,4.000000,3.166000,4.000000,3.222000,34334500,3.222000,4.199600
...,...,...,...,...,...,...,...
2015-12-24,46.375999,45.655998,46.112000,46.113998,3540000,46.113998,46.682240
2015-12-28,46.396000,45.108002,46.298000,45.790001,9506500,45.790001,46.599880
2015-12-29,47.543999,45.910000,46.012001,47.438000,12031500,47.438000,46.582000
2015-12-30,48.726002,47.133999,47.320000,47.618000,18489500,47.618000,46.573160
2015-12-31,48.689999,47.674000,47.702000,48.001999,13575000,48.001999,46.570900

In [61]:
ax1 = plt.subplot2grid((6, 1), (0, 0), rowspan=5, colspan=1)
ax2 = plt.subplot2grid((6, 1), (5, 0), rowspan=1, colspan=1, sharex=ax1)

ax1.plot(df.index, df['Adj Close'])
ax1.plot(df.index, df['100ma'])
ax2.bar(df.index, df['Volume'])